PORT = 

NODE_ENV = 

MONGODB_URI = 

JWT_ACCESS_TOKEN_SECRET = 
JWT_ACCESS_TOKEN_EXPIRATION = 
JWT_REFRESH_TOKEN_SECRET =  
JWT_REFRESH_TOKEN_EXPIRATION = 

# SMTP configuration for nodemailer
SMTP_FROM_NAME=
SMTP_PORT=
SMTP_FROM_EMAIL=
SMTP_PASS = 
SMTP_USER = 

CLIENT_URL=


# IMAGEKIT Credentials
IMAGEKIT_PUBLIC_KEY =
IMAGEKIT_PRIVATE_KEY =
IMAGEKIT_URL_ENDPOINT =